html {
    height: 100%;
}
body {
    background: #0B486B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left top, #F56217, #06045e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left top, #F56217, #06045e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0 auto;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}
h1, h2, h3, h4,h5 {
    font-family: 'Roboto', serif;
    text-transform: uppercase;
    color: #fff;
    font-weight: 300;
}
button{
  cursor: pointer;
}
button:focus, input:focus {
  outline:0;
}
a {
  text-decoration: none;
}
#main {
    display: flex;
}
.wrapper {
    position: relative;
    background-color: rgb(38, 17, 85);
    background-color: rgba(255,255,255, 0.3);
    /*width: 200px;*/
    height: 100vh;
}
#chat-room {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#chat-room h1 {
    margin-left: 20px;
}
#sidebar {
    position: absolute;
    top: 0;
    /*padding: 20px 10px 0 10px;*/
    display: flex;
    flex-direction: column;
    width: 100%;
    bottom: 0;
    left: 0;
}
#sidebar h1 {
  width: 100%;
  text-align: center;
  padding-bottom: 60px;
  color: #fff;
  font-size: 1.5em;
}
ul {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  flex-direction: column;
  padding: 0;
  flex-grow: 1;
}
li.room{
    list-style: none;
    cursor: pointer;
    position: relative;
    margin: 0;
    padding: 20px 5px;
    display: block;
    z-index: 5;
    color: #fff;
}
.room a{
  color: #fff;
  padding-left: 30px;
  text-decoration: none;
  margin-bottom: 20px;
}
.room:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: rgb(38, 17, 85);
  background-color: rgba(255,255,255, 0.3);
  display: block;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.room:hover{
    background-position: 0 0;
    color: white;
}
.room:hover:after {
  width: 100%;
  left: 0;
}

.sb-bottom-section {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.sb-bottom-section .circle {
    background-color: rgba(255,255,255, 0);
    border-radius: 100%;
    border: 2px solid #fff;
    width: 50px;
    height: 50px;
    color: #fff;
    text-decoration: none;
}

.sb-section .circle:hover{
    background-color: rgba(255,255,255, 0.3);
    transition: background-color 0.2s ease;
}

.sb-section .circle i {
    margin: auto;
    color: #fff;
    font-size: 16px;
}

/* Bootstrap Overrides */
.modal-body {
  padding: 0;
  display: flex;
  flex-direction: column;
  background: #3D445D;
  text-align: center;
}
.modal-header {
  border: none;
}
.modal-body label {
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}
.modal-form {
  padding: 20px;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.modal-form input {
    border-radius: 10em;
    border: none;
    font-size: 15px;
    padding-left: 20px;
    height:40px;
  flex-grow: 1;
}
.modal-footer .btn+.btn{
  margin-left: 0;
}
.modal-footer {
    width: 100%;
    display: flex;
    padding: 0;
    border: none;
}
.modal-footer button{
  width: 50%;
  border: none;
  text-transform: uppercase;
  height: 60px;
  border-radius: initial;
}
.modal-footer .btn-primary {
  background: #71a4c1;
}
.modal-footer .btn-warning {
  background: #efa986;
}

#messages{
    color: #fff;
}
.pin-to-bottom{
    opacity: 0.5;
    background: #000;
}
.message-wrapper{
    padding: 25px;

}

.message-wrapper input{
    background: none;
    border: none;
    color: white;
    /*line-height: 1.6em;*/
    width: 90%;
    border-bottom: 2px solid white
}
.message-block {
    display: flex;
    flex-flow: row wrap;
}
.message{
    background: #000;
    opacity: 0.5;
    padding: 20px;
    border-radius: 6px;
    position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: 66px center;
    word-break: break-word;
    max-width: 70%;
}
.message:before{
  content: "";
    position: absolute;
    display: block;
    left: 0;
    border-right: 6px solid #000;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    top: 25px;
    margin-left: -6px;
}
.ion-android-contact{
    margin: 5px 21px 0 10px;
    font-size: 3em;
}

.ion-paper-airplane {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    float: right;
}
.ion-paper-airplane:hover {
    color: #08058a;
}
#cookiemodal .modal-form {
  padding-top: 0;
}
#cookiemodal .help-block{
  margin-bottom: 0;
}
#cookiemodal button{
    width: 100%;
}
#cookiemodal .modal-header {
    padding-bottom: 0;
}
.error-block{
  height: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}

.message {
  span: 5em;
  animation:moveLeftToRight 2s ease-in-out 1s;
}
/* Message Blobbing */
@keyframes moveLeftToRight {
  0% {
    transform: translateY(0%) rotate(0deg);
    transform-origin: center;
  }
/*   25% {
    transform: translateY(-150%) rotate(0deg);
    transform-origin: center;
  } */
  50% {
    transform: translateY(-150%) rotate(0deg);
    transform-origin: center;
  }
  100% {
    transform: translateY(0%) rotate(0deg);
    transform-origin: center;
  }
@media only screen and (max-width: 767px) {
  #sidebar{
    padding: 0;
  }
  .nav-wrap{
    width: 100%;
    display: flex!important;
    align-items: center;
    justify-content: space-between;
  }
 #sidebar h1, .nav-wrap .sb-bottom-section{
  width: auto;
  margin: 0 0 0 10px;
  padding: 0;
}
#sidebar h1{margin-top: 5px;}
  #main{
    flex-direction: column;
  }
  /*.nav-wrap{}*/
  aside.wrapper {
    width: 100%;
    height: 50px;
    position: relative;
  }
  .sb-bottom-section .circle{
    border: none;
  }
  #rooms{
    visibility: hidden; /* hides sub-menu */
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  }
  #rooms.active {
    visibility: visible; /* shows sub-menu */
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
  }
  .room{
    text-align: center;
  }
}
