<div id="main" ng-controller="HomeCtrl">
    <aside ng-click="activeDropdown()" class="wrapper col-sm-4 col-md-2 col-xs-12">
        <div id="sidebar">
            <div class="nav-wrap visible-xs">
                <h1>ChatRooms</h1>
                <div class="visible-xs  sb-bottom-section" ng-controller="PopupCtrl">
                    <button ng-click="open()" class="circle">
                    <i class="ion-plus-round"></i>
                </button>
                </div>

            </div>
            <h1 class="hidden-xs">ChatRooms</h1>
            <ul ng-class="{'active': isActive}" id="rooms">
                <li class="room" ng-click="activate()" ng-repeat="rm in rooms">
                    <a class="room-link">{{rm.name}}</a></li>
            </ul>
            <div class="hidden-xs sb-bottom-section" ng-controller="PopupCtrl">
                <button ng-click="open()" class="circle">
                    <i class="ion-plus-round"></i>
                </button>
            </div>
        </div>
    </aside>
    <section class="flex-container col-xs-12 col-sm-8 col-md-10">
        <div class="row" id="chat-room">
            <h1>{{activeChatroom.name}}</h1>
            <div class="cage">
                <form ng-hide="!activeChatroom" role="form" name="messageForm" ng-submit="sendMessage()" class="messaging-form">
                    <ul id="messages">
                        <li class="message-block" ng-repeat="msg in messages">
                            <i class="ion-android-contact"></i>
                            <!-- <div class="goop"> -->
                            <div class="message">{{msg.content}}</div>
                            <!-- </div> -->
                        </li>
                    </ul>
                    <div class="pin-to-bottom">
                        <input type="text" ng-model="msg" placeholder="type a message" value="">

                        <i ng-click="sendMessage()" class="ion-paper-airplane"></i>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                            <defs>
                                <filter id="goo">
                                    <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                                    <feComposite in="SourceGraphic" in2="goo" operator="atop"/>
                                </filter>

                            </defs>
                        </svg>
                </form>
            </div>
        </div>
    </section>
</div>
