<form novalidate class="form-horizontal" role="form" name="modalForm">
	<div class="modal-body">
		<div class="modal-header">
			<h3>Create New Room</h3>
		</div>
		<div class="row" id="AddItem">
			<div class="col-md-12 modal-form">
				<label for="name">Enter a room name</label>
				<input value="" id="name" type="text"  ng-model="rooms.chatroom" required="">

			</div>
			<div ng-show="form.$submitted || form.name.$touched">
				<div ng-show="form.name.$error.required">Enter a chatroom name</div>
			</div>
		</div>
		<div class="row">
			<div ng-repeat="item in data.dealerCount" class="item-unchecked" ng-bind="item.name">
			</div>
		</div>

		<div class="modal-footer">
			<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
			<button class="btn btn-primary" ng-click="addRoom()" ng-disabled="modalForm.$invalid">Create room</button>
		</div>
	</div>
</form>
